*{
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100%;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    background-color: #dfdfdfdf;
}

                            /* <----Navigation bar start---->  */
nav{
    width: 100%;
    height: 70px;
    background-color: #0A1922;
}

.container{
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.nav-container{
    display: flex;
    align-items: center;
}

.brand-section h1{
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: bold;
    
}

.brand-title:hover{
    scale: 1.2;
    color: orangered;
    
}

.center-menu{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: 20rem;
    padding: .5rem;
}

.menu a{
    display: inline-block;
    font-size: 1rem;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    
}

.menu > a:hover{
    scale: 1.03;
    color: orangered;
    text-decoration: underline;

}

.right-menu{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}
                            /* <----Navigation bar end----> */


                            /* <----profile container start----> */
.profile-card-container{
    width: 100%;
    min-height: 300px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 3rem;
    display: flex; 
}

.profile-picture-container{
    height: 340px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.profile-squire-container{
    width: 80%;
    height: 80%;
    border: none;
    background-color: #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.profile-circle-container{
    height: 85%;
    width: 77%;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.profile-circle-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;  
}

.profile-circle-container > img:hover{
    opacity: 0.8;
}

                /* <----profile information container  start----> */
.profile-info-container{
    width: 65%;
    margin-top: 2rem;
    padding-left: .5rem;
}

.profile-info{
    margin: .5rem;
}

.profile-info > h1{
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .14rem;
}

.profile-info > h4{
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
}

                        /* <----social media icons start----> */
.social-icons-container{
    display: flex;
    align-items: center;
    gap: .6rem;
    margin-top: 1rem;
}

.social-icons-container > img:hover{
    cursor: pointer;
}

                        /* <----skill container start----> */
.skill-chips{
    display: flex;
    gap: .5rem;
    margin-top: .8rem;
}

.skill-chip{
    border: none;
    padding: .4rem .8rem;
    background-color: #0A1922;
    color: #FF9900;
    font-weight: bold;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: .07rem;
    border-radius: 6px;
}

.skill:hover{
    cursor: pointer;
}


                        /* <----self details container----> */
.profile-bio-container{
    margin-top: .7rem;
    width: 90%;
}

.profile-bio{
    font-weight: 500;
    text-align: justify;
    line-height: 1.3rem;
    font-size: .85rem;
}

                         /* <----Profile container end----> */

                        /* <----Skill section start----> */
.my-skill-section{
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 3rem;
    padding: 2.3rem 2rem 1.5rem 2rem;
}

.top-heading{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .6;
    color: #333333;
}

.skill-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icon-container > img{
    width: 55px;
    height: 55px;
    
}

.skill-items-container{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: .8rem;
    
}

.title-container h1{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .08rem;
}

.title-container h3{
    font-size: .8rem;
    font-weight: bold;
    margin-top: .27rem;
}

.title-container p{
    font-size: .8rem;
    color: #333;
    margin-top: .6rem;
}
                        /* <----Skill section start----> */


                        /* <----Experience section start----> */
.experience-section{
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 3rem;
    padding: 2rem 2rem 1rem 2rem;
}

.experience-title{
    font-size: 2rem;
    width: 300px;
    font-weight: bold;
}

.experience-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.4rem 3rem;
}

.experience-wrapper{
    margin-top: 1rem;
}

.experience-wrapper h1{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .8rem;
}

.experience-wrapper h4{
    font-size: .85rem;
    font-weight: 400;

}

.experience-wrapper p{
    font-size: .7rem;
    margin-top: .4rem;
    line-height: 1rem;
    text-align: justify;
    color: #333;
}
                            /* Experience section End */

                        /* Portfolio section start */
.portfolio-section{
    width: 100%;
    min-height: 300px;
    margin-top: 3rem;
    border-radius: 10px;
    background-color: white;
    padding: 2rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.portfolio-wrapper{
    height: auto;
    width: 240px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2)  ;
}

.portfolio-wrapper img{
    height: 140px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
    object-position: center;
    
}

.portfolio-wrapper img:hover{
    opacity: .86;
}

.portfolio-wrapper h3{
    font-weight: 600;
    font-size: .85rem;
    margin-left: 1rem;
    margin-top: .5rem;
    text-transform: uppercase;
}

.portfolio-wrapper p{
    font-size: .7rem;
    font-weight: 100;
    text-align: justify;
    padding: .4rem;
    line-height: 1rem;
}